*{
	outline: 0px solid #000;
}

body{
	background: #F5FFFA;
}

header,section,nav,footer,h1, #dads{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}

header{
	height: 250px;
	width: 100%;
	border: 1px solid #000;
	align-items: center;
	justify-content: center;
	text-align: center;
}
h1{
	font-size: 90px;
	color: 	#191970;
	text-shadow: 0px 0px 15px #363636;
}

nav{
	justify-content: center;
	background: #483D8B;
	flex-wrap: wrap;
}

nav a{
	width: 255px;
	height: 60px;
	min-width: 255px;
	max-width: 255px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	text-align: center;

}

nav a:hover{
	background: #191970;
	font-size: 32px;
}

section{
	justify-content: center;
	height: 330px;
}
section div{
	margin: 5px;
	min-width: 250px;
	max-width: 250px;
	min-height: 170px;
	max-height: 170px;
	text-align: center;
	font-weight: bold;
}

img{
	height: 266px;
}
	#flavio{
	border: 4px dashed #f00;
	}
	#nicinha{
		border: 4px dashed #00f;
	}

.anunciosDiv{
	width: 250px;
	height: 150px;
	border: 1px solid #000;
	margin: 25px;
	text-align: center;
	color: #000;
}


footer{
	align-items: center;
	justify-content: center;
}

.dados{
	min-width: 150px;
	max-width: 150px;
	min-height: 50px;
	max-height: 50px;
	border-width: bold;
	font-weight: bold;
	margin: 35px;
	padding: 20px;
	border: 3px dotted #88a;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dados1{
	border-width: bold;
	font-weight: bold;
}

#dads{
	
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	
}

p{
	text-align: center;
}
p a{
	text-decoration: none;
}

#sparta{
	height: 500px;
}

#load{
	height: 20px;

}

#d0{
	border: solid 0px #000;
	float: left;
	text-align: center;
	align-items: center;
	width: 100px;
}
@media screen and (max-device-width:450px){
	#d0{
		color: #fff;
		font-weight: bolder;
	}
	#load{
		height: 30px;

	}
	#sparta{
	width: 370px;
	}

	p{
	text-align: center;
	font-size: 22px;
	color: #fff;
	}
	p a{
		color: #B0C4DE;
	}

	body{
		background-image: url(https://i.ibb.co/4fQ9pfB/background.png);
	}

	img{
		height: 400px;
	}
	#flavio{
	border: 8px dashed #f00;
	}
	#nicinha{
		border: 8px dashed #00f;
	}

	section div{
	margin: 50px;
	min-width: 300px;
	max-width: 300px;
	min-height: 180px;
	max-height: 180px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #ebeff2;
}

section{
	justify-content: center;
	height: 600px;

	box-sizing: border-box;	
}



.dados{
	min-width: 220px;
	max-width: 220px;
	min-height: 110px;
	max-height: 110px;
	border-width: bold;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
	border: 6px dotted #698fb5;
	
	align-items: center;
	justify-content: center;
	text-align: center;

	font-size: 35px;
	color: #ebeff2;
}


.dados1{
	border-width: bold;
	font-weight: bold;
}

#dads{
	
	display: flex;
	width: 100%;
	display: flex;
	border: 9px inset #698fb5;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;	
}

nav a{
	width: 320px;
	height: 150px;
	min-width: 320px;
	max-width: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 45px;
	text-align: center;	
}


nav:hover{
	background: #191970;
	font-size: 46px;
	font-weight: bolder;
	cursor: pointer;

}
header{

	text-align: center;
	border: 1px solid #fff;
	align-items: center;
	height: 230px;
	box-shadow: 10px 10px 50px #fff;
}
h1{
	font-size: 90px;
	color: #fff;
	display: inline-block;
	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 15px #fff;
}
	
	