.main-footer {
    color: #002776;
    background-color: #002776;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 50px;
  }
;

.endereco {
    margin-left: 1em;
    text-align: center;
};