*{
	outline: 0px solid #000;
}
body{
	background: #F5FFFA;
}

header,section,nav,footer,h1{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}

header{
	height: 250px;
	width: 100%;
	border: 1px solid #000;
	align-items: center;
	justify-content: center;
	text-align: center;
}
h1{
	font-size: 90px;
	color: 	#191970;
	text-shadow: 0px 0px 15px #363636;
}

nav{
	justify-content: center;
	background: #483D8B;
	flex-wrap: wrap;
}

nav a{
	width: 250px;
	height: 60px;
	min-width: 250px;
	max-width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	font-size: 30px;

}

nav a:hover{
	background: #191970;
	font-size: 32px;
}

section{
	flex-wrap: wrap;
	justify-content: center;
	height: 250px;
}
h2{
		height: 90px;
		font-size: 25px;
		text-align-last: center;
		color: #000;
}

section div{

	margin: 20px;
	min-width: 200px;
	max-width: 200px;
	min-height: 100px;
	max-height: 100px;
}
section div:hover{
	min-width: 230px;
	max-width: 230px;
	min-height: 130px;
	max-height: 130px;
	box-shadow: 0px 0px 25px #fff;
	font-weight: bolder;
}
#tabLog{
	border: 2px solid #000;
	min-width: 200px;
	max-width: 200px;
	min-height: 100px;
	max-height: 100px;
	font-size: 22px;
	font-weight: bold;
}
#tabLog:hover{
	min-width: 230px;
	max-width: 230px;
	min-height: 130px;
	max-height: 130px;

}
#sobre{
	background: #888;
	color:#fff;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 25px;
	top: 100px;
}

section div{
	text-align: center;
}


.anunciosDiv{
	width: 250px;
	height: 150px;
	border: 1px solid #000;
	margin: 25px;
	text-align: center;
	color: #000;
}


footer{
	align-items: center;
	justify-content: center;
}

#relog{
	text-align:center;
	color:#000;
	font-weight: bold;
	font-size: 35px;
	width:130px;
}


@media screen and (max-device-width:450px){
	body{
		background-image: url(https://i.ibb.co/4fQ9pfB/background.png);
		
		margin:0px;
		padding: 0px;
	}

	#relog{
		font-size: 70px;
		color: 	#1C1C1C;
		border-radius: 10px;
		background: #A9A9A9;
		box-shadow: 0px 0px 100px #DCDCDC;
	}
	
	header{

	text-align: center;
	border: 1px solid #fff;
	align-items: center;
	height: 230px;
	box-shadow: 10px 10px 50px #fff;
}
h1{
	font-size: 90px;
	color: #fff;
	display: inline-block;
	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 15px #fff;
}
	
	h2{
		height: 110px;
		font-size: 40px;
		text-align-last: center;
		color: #fff;
	}
	
	nav a{
		height: 120px;
		min-width: 300px;
		max-width: 300px;
		font-size: 60px;
	}

nav a:hover{
	background: #191970;
	font-size: 62px;
}
section{
	height: 900px;
}

section div{

	margin: 25px;
	min-width: 270px;
	max-width: 270px;
	min-height: 170px;
	max-height: 170px;
	font-size: 40px;
	font-weight: bolder;
	color: #fff;
}
section div:hover{
	box-shadow: 0px 0px 100px #DCDCDC;
	font-weight: bolder;
	min-width: 270px;
	max-width: 270px;
	min-height: 170px;
	max-height: 170px;
	font-size: 42px;
}

#tabLog{
	border: 10px double #363636;
	min-width: 270px;
	max-width: 270px;
	min-height: 170px;
	max-height: 170px;
	font-weight: bold;
	
}
#tabLog:hover{
	min-width: 270px;
	max-width: 270px;
	min-height: 170px;
	max-height: 170px;
}
footer{
	height: 150px;
}

.anunciosDiv{
	width: 300px;
	height: 200px;
	border: 1px solid #000;
	margin: 20px;
	font-size: 40px;
	text-align: center;
	color: #000;
}


}